# Miscellaneous Generated Garbage Files
.DS_Store
*/.DS_Store

# Environment Variables
.env
*/.env

# TODO: Complete `INSTRUCTIONS.md` and remove ignored notation.
# Empty instructional guide for repo navigation and templating.
INSTRUCTIONS.md